$color-black: #000;
$color-white: #fff;
$color-dark-white: #e8edf9;
$color-grey: #3d3d3d;

$color-blue-light: #b3ecff;
$color-blue-dark: #0099cc;

$color-dark-purple: #673E5E;
$color-light-purple: #fa0ac4;
$color-medium-purple: #b91194;
$color-alt-purple: #901274;

