<!DOCTYPE html>
<html>
  <body>
    <header class="index">
      <div class="container">
        <div class="item-1">
          <ul>
            <li class="nav-item">
              <a class="nav-link" href="mailto:sirismitchell@gmail.com">
              <i class="fa fa-envelope fa-4x">Gmail</i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://github.com/SiriMitchell">
              <i class="fab fa-github fa-4x">Github</i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/sirimitchell/">
              <i class="fab fa-linkedin fa-4x">LinkedIn</i>
              </a>
            </li>
          </ul>
        </div>

        <div class="item-2">
          <p class="greeting-title">Hello!</p>
          <p class="greeting-name">My name is Siri.</p>
          <h3 class="greeting-description">A full stack Web Developer in Nashville, Tennessee.<br />Nice to meet you.</h3>
        </div>


  
        <div class="item-3">
          <ul>
            <li>
              <a class="link" href="/projects">Skills
                <span class="bt"></span>
              </a>
            </li>
            <li>
              <a class="link" href="/skills">Projects
                <span class="bt"></span>
              </a>
            </li>
            <li>
              <a class="link" href="/about">About
                <span class="bt"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>


<!---skills section---->
    
    <section class="section-skills">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="tools">Tools I am currently rocking with relative comfort:</h2>
            <hr />
            <br />

          <div class="progress">
            <div class="skills_rocked">
              <i class="fas fa-gem fa-3x">Ruby/Rails</i><br />
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">50% Complete (info)
              </div>

              <i class="fab fa-html5 fa-3x">HTML5</i><br />
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">50% Complete (info)
              </div>

              <i class="fab fa-css3 fa-3x">CSS3</i><br />
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">50% Complete (info)
              </div>

              <i class="fab fa-bootstrap fa-3x">Bootstrap</i><br />
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">50% Complete (info)
              </div>
         
              <i class="fab fa-github fa-3x">Github +&nbsp</i>
              <i class="fab fa-git fa-3x"></i><br />
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">50% Complete (info)
              </div>

              <i class="fab fa-trello fa-3x">Trello</i><br />
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">50% Complete (info)
              </div>
            </div>
          </div>
        </div>
      </div>
            
            <br /><br /><br />

      <div class="row">
        <div class="col-sm-12">
          <h2 class="tools">Tools I have been shown and need to explore further:</h2>
            <hr />
            <br />
              
          <div class="progress">
            <div class="skills_exposed">
              <i class="fab fa-js fa-3x">JavaScript</i><br />
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">50% Complete (info)
              </div>

              <i class="fab fa-react fa-3x">React</i><br />
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">50% Complete (info)
              </div>

              <i class="fab fa-node-js fa-3x">Node</i><br />
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">50% Complete (info)
              </div>

              <i class="fab fa-aws fa-3x"></i><br />
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">50% Complete (info)
              </div>

              <i class="fab fa-npm fa-3x"></i><br />
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">50% Complete (info)
              </div>

              <i class="fab fa-cc-stripe fa-3x"></i><br />
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">50% Complete (info)
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  



  

   
     <br /><br /><br />
      
    




  </body>
</html>