<!DOCTYPE html>
<html>
<body class="index">

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="mailto:sirismitchell@gmail.com">
      <i class="fa fa-envelope fa-4x">Gmail</i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://github.com/SiriMitchell">
      <i class="fab fa-github fa-4x">Github</i>
      </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="https://www.linkedin.com/in/sirimitchell/">
      <i class="fab fa-linkedin fa-4x">LinkedIn</i>
      </a>
    </li>
  </ul>

  <div class="container">
    <p class="greeting-title">Hello!</p>
    <p class="greeting-name">I'm Siri.</p>
    <h3 class="greeting-description">A full stack Web Developer in Nashville, Tennessee.<br />Nice to meet you.</h3>
  </div>


  <div class="link-section">
    <ul>
      <li>
        <a class="link" href="/projects">Projects
          <span class="bt"></span>
        </a>
      </li>
      <li>
        <a class="link" href="/skills">Skills
          <span class="bt"></span>
        </a>
      </li>
      <li>
        <a class="link" href="/about">About
          <span class="bt"></span>
        </a>
      </li>
    </ul>
  </div>





</body>
</html>