
  <body class="projects">
 
    <div class="grid-container">
      <div class="item1">
        <div class="icon-bar">
        <a class="active" a href="/"><i class="fas fa-home fa-2x" style="color:#edeff0"></i></a> 
        <a href="mailto:ruby7r1x@gmail.com"><i class="fa fa-envelope fa-2x" style="color:#edeff0"></i></a> 
        <a href="https://github.com/SiriMitchell"><i class="fab fa-github fa-2x" style="color:#edeff0"></i></a>
        <a href="https://www.linkedin.com/in/sirimitchell/"><i class="fab fa-linkedin fa-2x" style="color:#edeff0"></i></a> 
        </div>
      </div>

      <div class="item2" style="padding-right: 10px;">
        <div class="vertical-text">
          <h1>Projects</h1>
        </div>
      </div>

      <div class="item3">
        <div class="row" style="justify-content:center; padding-bottom: 20px; padding-left: 10px; margin-left: 35px;">  
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../assets/cii350" alt="..">

              </div>
              <div class="flip-card-back">
                <h3>Cobblestone</h3>
                <p>A company website for a local delivery business. It will allow drivers to apply for jobs directly and for admin to screen them through a secure login.</p>
                <p>Put together with a Ruby/Rails framework, SQL database, HTML5/CSS3, and JavaScript.<br/> 70% Complete</p><br />
                <a href="https://cii2-cobblestone.herokuapp.com" class="fifth">Visit Cobblestone</a>
              </div>
            </div>
          </div>
         
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="../assets/ruby350" alt="..">
              </div>
              <div class="flip-card-back">
                <h3>Ruby Retro</h3>
                <p>A low-key funky character blog created to share and highlight the cool tech I'm learning and using.</p>
                <p>Put together with a Ruby/Rails framework, SQL database, HTML5/CSS3, and JavaScript.<br/> 80% Complete</p><br/>
                <a href="https://siri-ruby-retro.herokuapp.com" class="fifth">Visit Ruby Retro</a>
              </div>
            </div>
          </div>
            
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">

              </div>
              <div class="flip-card-back">
                <h3>MOA Chessboard</h3>
                <p>A dynamic chess game built with 2 classmates. With scrum meetings, a trello board, and a collective github repository, this was a great team experience!</p>
                <p>Put together with a Ruby/Rails framework, SQL database, HTML5/CSS3, JavaScript, and JQuery. <br/> 50% Complete</p>
                <a href="https://moachess-scs-studio.herokuapp.com" class="fifth">Visit MOA Chessboard</a>
              </div>
            </div>
          </div>
        </div>
      </div>


     



    <div class="row">
    <div class="col-1-of-3">
        <div class="card">
            <div class="card__side card__side--front">
                <div class="card__picture card__picture--1">
                    &nbsp;
                </div>
                <h4 class="card__heading">
                    <span class="card__heading-span card__heading-span--1"></span>
                </h4>
                
            </div>

            <div class="card__side card__side--back card__side--back-1">
                <div class="card__cta">
                   
                    <a href="#" class="btn btn--white"></a>
                </div>
            </div>
        </div>
    </div>


    <div class="col-1-of-3">
        <div class="card">
            <div class="card__side card__side--front">
                <div class="card__picture card__picture--2">
                    &nbsp;
                </div>
                <h4 class="card__heading">
                    <span class="card__heading-span card__heading-span--2"></span>
                </h4>
                
            </div>
            <div class="card__side card__side--back card__side--back-2">
                <div class="card__cta">
                    <div class="card__price-box">
                        <p class="card__price-only"></p>
                        <p class="card_price-value"></p>
                    </div>
                    <a href="#" class="btn btn--white"></a>
                </div>
            </div>
        </div>
    </div>


    <div class="col-1-of-3">
        <div class="card">
            <div class="card__side card__side--front">
                <div class="card__picture card__picture--3">
                    &nbsp;
                </div>
                <h4 class="card__heading">
                    <span class="card__heading-span card__heading-span--3"></span>
                </h4>
               
            </div>
            <div class="card__side card__side--back card__side--back-3">
                <div class="card__cta">
                    <div class="card__price-box">
                        <p class="card__price-only"></p>
                        <p class="card_price-value"></p>
                    </div>
                    <a href="#" class="btn btn--white"></a>
                </div>
            </div>
        </div>
    </div>
</div>







</body>