


<body class="projects">

<div class="container">
  <div class="row">
    <div class="col-sm-6">  
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../assets/rscii2" alt="..">

          </div>
          <div class="flip-card-back">
            <h3>Cobblestone</h3>
            <p>A company website for a local delivery business. It will alllow drivers to apply for jobs directly and for admin to screen them through a secure login.</p>
            <p>Put together with a Ruby/Rails framework, SQL database, HTML5/CSS3, and JavaScript. 70% complete</p>
            <div class="fifth"><p>Visit Cobblestone</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">  
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">

          </div>
          <div class="flip-card-back">
            <h3>Ruby Retro</h3>
            <p>A low-key funky character blog to share and highlight the cool tech I'm absorbing.</p>
            <p>Put together with a Ruby/Rails framework, SQL database, HTML5/CSS3, and JavaScript. 80% complete</p>
            <div class="fifth">
              <p>Visit Ruby Retro</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br />
  <div class="row">
    <div class="col-sm-6">  
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">

          </div>
          <div class="flip-card-back">
            <h3>ADHD Help</h3>
            <p>A searchable database used to collect and organize provider names and other resources available for families needing help with ADHD and co-morbidities</p>
            <p>Put together with a Ruby/Rails framework, SQL database, HTML5/CSS3, and JavaScript. 5% complete</p>
            <div class="fifth">
            <p>Visit ADHD Help</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">  
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">

          </div>
          <div class="flip-card-back">
            <h3>MOA Chessboard</h3>
            <p>A dynamic chess game built by myself and 2 classmates to showcase our shiny new skills!</p>
            <p>Put together with a Ruby/Rails framework, SQL database, HTML5/CSS3, JavaScript, and JQuery. 50% complete</p>
            <div class="fifth">
            <p>Visit MOA Chessboard</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>







</body>