<body class="projects">

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">

      </div>
      <div class="flip-card-back">
        <h3>Ruby Retro</h3>
        <p>A character blog to share the cool stuff about coding</p>
        <p>Put together with a Ruby/Rails framework, SQL database, HTML5/CSS3, and JavaScript</p>
        <button>
          <span>Visit Ruby Retro</span>
        </button>
      </div>
    </div>
  </div>














</body>