<body class="skills">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="tools">Tools I'm currently rocking with comfort:</h2><hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6" style="text-align: right;">
        <i class="fas fa-gem fa-2x">Ruby/Rails</i>
        <i class="fab fa-html5 fa-2x">HTML5</i><br /><br />
        <i class="fab fa-css3 fa-2x">CSS3</i>
        <i class="fab fa-bootstrap fa-2x">Bootstrap</i>
      </div>
      <div class="col-sm-6">
        <i class="fab fa-github fa-2x">Github+</i>
        <i class="fab fa-git fa-2x"></i><br /><br />
        <i class="fab fa-trello fa-2x">Trello</i>
       </div>
     </div>
     <br /><br /><br />
      <div class="row">
        <div class="col-sm-12">
          <h2 class="tools">Tools I'm working on rocking:</h2><hr />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6" style="text-align: right;">
          <i class="fab fa-js fa-2x">JavaScript</i>
          <i class="fab fa-react fa-2x">React</i>
          <i class="fab fa-aws fa-2x"></i>
        </div>
        <div class="col-sm-6">
          <i class="fab fa-npm fa-2x"></i>
          <i class="fab fa-node-js fa-2x"></i>
          <i class="fab fa-cc-stripe fa-2x"></i>
          <i class="fab fa-yarn fa-2x">Yarn</i>
        </div>
      </div>
    </div>
