*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    width: 100%;
    height: 95vh;
    font-size: 62.5%;

  }

  body {
      line-height: 1.2;
      padding: 2.5rem;
      background: url('brickwall2.png');
      list-style-type: none;
  }