.container {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
}

.link-section {
    margin-top: 0;
    margin-right: 2rem;
    text-align: right;
    width: 25%;
    float: right;
}