@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Marck+Script|Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');



/* CSS for the index page */


* {
  margin: 0;
  padding: 0;
}

.index {
  background: url('arrowleft.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

html {
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 140px;
  font-family: 'Kaushan Script', cursive;
  color: #0e1f2e;
  margin-left: 5px;
  margin-top: 25px;
}

.name {
  font-size: 120px;
  font-weight: bold;
  color: #0e1f2e;
  margin-left: 0px;
}

.webdev {
  font-size: 20px;
  color: #0e1f2e;
  text-align: left;
}


.icon-bar {
  text-align: right;
  margin-right: 20px;
  padding: 10px 5px;
  
}


.headshot {
  justify: center;
  border-radius: 50px;
  width: 180px;
  height: 200px;
  float: right;
  margin-right: 110px;
}

.col-sm-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  height: 100%;
  background: transparent;
}

.pages {
  text-align: right;
  margin-top: 0px;
}

/* Code for link buttons on index page */

.link {
  color: #222;
  text-decoration: none;
  font-family: 'Kaushan Script', cursive;
  font-size: 60px;
  position: relative;
  padding: 10px 50px 10px 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(3);
    -ms-transform: scale(3);
      transform: scale(3);
}

.link .bt {
  background: #222;
  width: 30px;
  height: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1px;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.link:hover {
  padding-right: 20px;
  color: #fff;
}

.link:hover .bt {
  height: 100%;
  width: 100%;
  -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
      trnasform: translate(0, -50%);
}

.link .bt:before, .link .bt:after {
  content: '';
  height: 2px;
  width: 10px;
  background: #222;
  position: absolute;
  right: -2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.link .bt:before {
  bottom: 3px;
  -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.link .bt:after {
  top: 3px;
  -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

.link:hover .bt:before, .link:hover .bt:after {
  right: 0;
}

.link:hover .bt:before {
  bottom: 6px;
}

.link:hover .bt:after {
  top: 6px;
}




/* CSS for the skills page */

.skills {
  background: url('tools.jpg');
  background-repeat: no repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.col-sm-6 {
  font-weight:15px;
  font-size: 25px;
  word-spacing: 10px;
}

.tools {
  font-size: 60px;
  font-weight: 20px;
  font-family: 'Kaushan Script', cursive;
  color: #0e1f2e;
  padding-bottom: 10px;
}





/* CSS for projects page */

.projects {
  background: url('bark.jpg');
  background-repeat: no repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
}

/* flip-card code */

.flip-card {
  background-color: transparent;
  width: 500px;
  height: 500px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}


/* flipcard buttons */


.fifth {
  border-color: $purple;
  // border: 0;
  border-radius: 0;
  color: $purple;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
  
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: $purple;
    z-index: -1;
    transition: width 150ms ease-in-out;
  }
  
  &:hover {
    color: #fff;
    &:after {
      width: 110%;
    }
  }
}