@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Marck+Script|Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  background: url('arrowleft.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

html {
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 100px;
  font-family: 'Kaushan Script', cursive;
  color: #0e1f2e;
  margin-left: 300px;
  margin-top: 125px;
}

.intro {
  font-size: 20px;
  font-family: 'Kaushan Script', cursive;
  color: #0e1f2e;
  text-align: center;
}

.name {
  text-align: center;
}

.webdev {
  text-align: left;
}

.nice {
  text-align: right;
}

.fas .fa .fab {
  margin-left: 15px;
}

.headshot {
  justify: center;
  border-radius: 50px;
}


h2 {
  font-size: 60px;
  font-family: 'Kaushan Script', cursive;
  color: white;
  margin-left: 75px;
  margin-top: 15px;
}

h4 {
  font-size: 35px;
  font-family: 'Roboto Condensed', sans-serif;
}



.booyah-box2 {
  box-shadow: 0px 3px 8px #2a2a2a;
  background: black;
  color: white;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  height: 750px;
  width: 100%;
}

.booyah-box1 {
  box-shadow: 0px 3px 8px #2a2a2a;
  background: #E0E0E0;
  color: white;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  height: 750px;
  width: 100%;
}

.aboutpic {
 height: 250px;
 width: 200px;
 border-radius: 50px;
 margin-right: 10px; 
 item-align: right;
}

