/* index animation */
@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Norican&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lemon|Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sonsie+One&display=swap");




@keyframes dropInHello {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100px); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInName {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(400px); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translate(0); } }

@keyframes riseUpDev {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-200px); }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translate(0); } }

/* flip-card code */
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 275px;
  perspective: 1000px;
  margin-right: 50px; }

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); }

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; }

.flip-card-front {
  background-color: #bbb;
  color: black; }

.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 95vh;
  font-size: 62.5%; }

body {
  line-height: 1.2;
  padding: 2.5rem;
  background: url("brickwall2.png");
  list-style-type: none; }

.vertical-text {
  transform: rotate(270deg);
  transform-origin: left top 0;
  justify-content: center;
  float: left;
  margin: 0;
  position: absolute;
  top: 105%;
  padding-left: 5rem; }

.tools {
  font-size: 5rem;
  font-family: 'Lobster Two', cursive;
  color: #000; }

.container {
  margin-top: 1rem;
  text-align: center;
  width: 100%; }

.link-section {
  margin-top: 0;
  margin-right: 2rem;
  text-align: right;
  width: 25%;
  float: right; }

/* Code for link buttons on index page */
.link {
  color: #e8edf9;
  text-decoration: none;
  font-family: 'Lobster Two', cursive;
  font-size: 7rem;
  position: relative;
  padding: 1rem 2rem 1rem 2rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3); }

.link .bt {
  background: #e8edf9;
  width: 3rem;
  border-radius: .5rem;
  height: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1px;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.link:hover {
  padding-right: 2rem;
  color: #0099cc; }

.link:hover .bt {
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }

.link .bt:before, .link .bt:after {
  content: '';
  height: 2px;
  width: 10px;
  background: #e8edf9;
  position: absolute;
  right: -2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.link .bt:before {
  bottom: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.link .bt:after {
  top: 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.link:hover .bt:before, .link:hover .bt:after {
  right: 0; }

.link:hover .bt:before {
  bottom: 6px; }

.link:hover .bt:after {
  top: 6px; }

.index {
  height: 95vh;
  padding: 1.5rem;
  margin-bottom: 5rem;
  background: linear-gradient(to right bottom, rgba(69, 118, 245, 0.4), rgba(8, 50, 156, 0.4)), url("nashville2.jpg");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 1rem; }

.container {
  display: inline-grid;
  grid-template-columns: 250px auto 260px;
  grid-template-rows: [row1-start] 130px [row1-end] 250px [third-line] auto [last-line];
  grid-template-areas: "header main sidebar"
 "header main sidebar"
 "header main sidebar"; }

.item-1 {
  grid-area: header;
  justify-items: start;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Lobster Two', cursive; }
  .item-1 .nav-item {
    margin-bottom: 2rem; }
    .item-1 .nav-item .nav-link {
      color: #fff; }

.item-2 {
  grid-area: main;
  align-items: start;
  justify-items: center; }
  .item-2 .greeting-title {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 12rem;
    font-family: 'Lemon', cursive;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    animation-name: dropInHello;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    visibility: hidden;
    animation-fill-mode: forwards; }
  .item-2 .greeting-name {
    margin-top: 1px;
    font-size: 12rem;
    font-family: 'Lemon', cursive;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    animation-name: moveInName;
    animation-duration: 1.4s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    visibility: hidden;
    animation-fill-mode: forwards; }
  .item-2 .greeting-description {
    margin-top: 1.2rem;
    font-size: 2rem;
    font-family: 'Lobster Two', cursive;
    color: #fff;
    animation-name: riseUpDev;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-timing-function: ease-in;
    visibility: hidden;
    animation-fill-mode: forwards; }

.item-3 {
  grid-area: sidebar;
  grid-row: third-line / last-line;
  align-items: start;
  justify-items: right;
  list-style-type: none;
  margin-top: 1rem;
  padding: 0;
  overflow: hidden; }
  .item-3 .li {
    float: right;
    margin-right: 10rem; }
    .item-3 .li .li a {
      display: block;
      background: transparent;
      text-align: right; }

.skills-exposed {
  color: #000;
  margin-bottom: 5rem; }
  .skills-exposed .skills_rocked {
    margin-bottom: 2rem; }
  .skills-exposed .fas .fab {
    font-size: 5rem; }

/* CSS for the skills page */
/* CSS for projects page */
.projects {
  background: url("code1.jpg");
  background-repeat: no repeat;
  background-size: cover;
  justify-content: center;
  width: 100%;
  height: 100%; }

/* flipcard buttons */
.fifth {
  border-color: purple;
  border-radius: 0;
  font-size: 2.5rem;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out; }
  .fifth:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: purple;
    z-index: -1;
    transition: width 150ms ease-in-out; }
  .fifth:hover {
    color: #fff; }
    .fifth:hover:after {
      width: 110%; }
